.home{
    background: radial-gradient(#1B4332, #131313);
}
//1vh = 4.8px
//1rem = 10-10.5px
.nav-container{
    width: 100%;
    background: #212529;
    //---------------------this makes the nav scrool with the rest of the page-------//
    position: sticky;
    top: 0;
    z-index: 2;
    //------------------------------------------------------------//
    nav{
        width: 80%;
        margin: auto;
        min-width: 10vh;
        padding: 3rem 0rem;
        @include flex(space-between);
        align-items: center;
    }
    ul{
        @include flex(space-between);
        list-style: none;
        li{
            margin-left: 30px;
        }
    }
    #logo{
        flex: 4;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 15rem;
            height: 6rem;
            background: #2d6a4f;
            border-radius: 90%;
            transform: translate(-30%, -20%);
            mix-blend-mode: screen;
        }
    }
    .order{
        background: #2d6a4f;
        padding: 1rem 2rem;
        border-radius: 2rem;
    }
}

.dealsandiscounts{
    display: grid;
    min-height: 91.2vh;
    grid-template-columns: 20% repeat(3, minmax(5rem, 1fr)) 10%;
    grid-template-rows: 1fr 2fr 1fr;
    h2{
        grid-column: 2/3;
        align-self: flex-end;
    }
    img{
        grid-row: 2/3;
        grid-column: 3/4;
        object-fit: cover;
        align-self: center;
        justify-self: center;
    }
    .info{
        grid-column: 4/5;
        grid-row: 3/4;
        h3{
            padding-bottom: 1rem;
        }
    }
}